:root {

--bg-color:#0072bc;
--orange-color: #f7941d;
--main-font: 'Roboto Condensed', sans-serif;
--main-fontsize: 1.0rem;


}


a {

color: #fff;
text-decoration: none;

}


body,html {

padding: 0; margin: 0;
font-family: var(--main-font);
font-size: var(--main-fontsize);

}


header {

    height: 100vh;
  
    /* background: #ddd; */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: rgb(0, 114, 188);
    
    background-image: url("img/houses.jpg");
    background-blend-mode: soft-light;    
    /* background-size: 100% auto; */
}




.menu ul {

position: relative;
background: green;
}

.ikons {

display: inline-block;
margin-left: 10px;
margin-right: 10px;
}

.callrequest {
display: inline-block;
background: var(--orange-color);
height: 55px;
width: 30%;
padding-top: calc(55px - 2.5em);
margin-top:0;
margin-left: 30px;
text-align: center;


}



.call {  
    
    margin: 0;
    /* margin-bottom: 10px; */
    padding: 0 0 0 10px;
    background: var(--bg-color);
    color: #fff;
    /* height:20vh; */
    max-height:55px;
    display: block;
    position: relative;
    }


    .callrequest a {

        padding-top: calc(100% - 55px);

    }


     .first {

margin-top: 25px;
        
    }

    .first a {

        font-size: 1.25em;
        margin-left: 15px;
        margin-right: 15px;

    }

    .navbar-toggler {

        margin-top: -45px ;

    }

.logo-bobr {

position: relative;
/* margin-left: calc(50vw - 206px); */
/* top: 50px;  */

}


.crsl {
text-align: center;
/* background: green; */

}
.head-text {
margin-top:3vh;
/* background: #ccc; */
height: 75vh;
text-align: center;

}

.head-text>*>h1 {

color: #fff;
font-size: 3em;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.05em;
word-spacing: 0.1em;


}

.head-text>*>h2 {

    color: #fff;
    font-size: 2.4em;
    font-weight: 300;
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    
    


}

.orange {

display: inline-block;
color: #f7941d;
text-transform: uppercase ;
font-weight: 700 ;
font-size: 1.5em;

}

.carousel-item>h3 {

    color: #fff;
    
    font-size: 3rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    width: 80%;
    margin-left:10%;
    /* background: #ddd; */
    text-align: center;
}


.navbar-toggler {

margin-top: 0px;

}



.refs>*>h1 {

    font-weight: 700;
    text-transform: uppercase;
    color: #f7941d;
}


.imgbox {

width: 100%;
height:400px;
/* background: orange; */
position: relative;
}

img.refimage {

position: relative;
width: 100%;
min-height: 400px;
/* bottom: 100px; */

}

.reftext {

text-align: center;
margin-top:8%;
padding-left: 3%;
padding-right: 3%;
color:#999999;
font-size: 1.35em;
}


.reftext>h3 {
font-weight: 700;
color: #0072bc;


}


.refs .carousel-control-next-icon {
    background-image : url(img/control-next.svg);
    /* margin-left: -10px; */
    margin-left: 10px;
    margin-right: -10px;
    }

    .refs .carousel-control-prev-icon {
        background-image : url(img/control-prev.svg);
        margin-left: -10px;
        margin-right: 10px;
        }


        .refs {

            /* background: rgb(5, 189, 112); */
            margin-top: 20px;
            min-height: 50vh;
        }



h1.name-article {
display: block;
margin-top: 20px;
margin-bottom: 0;
color: #f7941d;
font-size: 2.5em;
font-weight: 700;
text-transform: uppercase;
}


.our-works h3{

color: #0072bc;
font-weight: 700;
}


.our-works .imgbox {
height:100%;


}

.our-works .imgbox img{

    height:90px;
    width: auto;

    
    }


    .txtx1 {

        min-height: 200px;
        color: #999999;
        font-size: 1.2em;

        }
        
        /* .txtx1:nth-child(odd) {
        background: red;
        
        }
        
        .txtx1:nth-child(even) {
            background: green;
            
            } */
        
h4.reasons {
    color: #0072bc;
    font-weight: 700;
    font-size: 1.2em;
    margin: 25px 0 15px 0;
    /* text-transform: uppercase; */
}


.domiki {

/* background: cyan; */
height: 85%;

background:cyan; 
overflow: hidden;
position: relative;
}

.domiki img {
width: 100%;

}

.domiki+h5 {
    text-align: center;
    color: #0072bc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

 .square {
position: absolute;
background:#0072bc;
color: #fff;
padding: 8px;
top:5%;
left: 0;
font-size: 1.1em;
font-weight: 700;
z-index: 100;
}

.price {


    position: absolute;
    background:#0072bc;
    color: #fff;
    padding: 8px;
    font-size: 1.1em;
    bottom:5%;
    right: 0;
    font-weight: 700;
    z-index: 100;

}

.our-projects {



margin-top: 20px;

}


.px20 {

height: 20px;


}


.our-partners {

/* background: green; */
min-height: 100px;
margin-top: 20px;

}

.part-logo {
display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    /* background: cyan; */
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

 
.part-logo img {
/* display: flex;

min-height: 100%; */
}



.footer {

background: #0072bc;
margin-top: 40px;
padding: 10px;
font-size: 1.1em;
text-align: center;

}

footer ul li.nav-item {

display: inline-block;
padding: 4px;
margin: 0 10px;
color: #fff;
font-weight: normal;
font-family: var(--main-font);

}

.about-us li{

    color:#fff;
    list-style-type: none;
    text-align: left;

}


footer ul li.nav-item a {


color: #fff;
padding: 3px;
}



footer ul li.nav-item a:hover {
padding: 0 3px;
color: #0072bc;
background: #fff;

}