body {


padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: flex-end;
background: purple;
}



.box1, .box2 {

display: flex;

}


.box1 {
display: flex;
background: cyan;
width: 150px;
height:150px;

align-items: center;
justify-content: center;
}

.box1:nth-child(odd) {

    background: cyan;
}


.box1:nth-child(even) {

background:red;

}




.box2 {
display: flex;

justify-content:space-around;
align-items: center;

flex-direction: column-reverse;
background: green;
width:900px;
height: 600px;
}

img {

display: flex;
order: 1;
}

.box3 {

order: 4;
width:200px;
height: 200px;
background: yellow;

}